.science-extra {
    padding: 50px;
    text-align: center;
}

.science-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.science-card {
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.science-card:hover {
    transform: translateY(-10px);
}
.science-intro {
    padding: 40px;
    text-align: center;
}

.topic-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.topic-box div {
    width: 250px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

.topic-box div:hover {
    transform: translateY(-8px);
}
.flashcards {
    padding: 50px;
    text-align: center;
}

.flashcard-box {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.flashcard {
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.flashcard:hover {
    transform: scale(1.05);
}
