.science-extra {
    padding: 50px;
    text-align: center;
}

.science-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.science-card {
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.science-card:hover {
    transform: translateY(-10px);
}
