
   body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("space.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


header{
    background:#1e3a8a;
    padding:20px;
    text-align:center;
}

header h1{
    margin:0;
    font-size:45px;
}

header p{
    font-size:18px;
}

nav{
    background:#2563eb;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    font-size:50px;
}

.hero p{
    font-size:22px;
}

button{
    background:#38bdf8;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#0284c7;
}.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 24px;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
}
.about {
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
    margin: auto;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}
